.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container__gradient {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 30px;
  height: 137px;
  background: radial-gradient(
    circle at top right,
    #e84d71 0%,
    #a337f6 53%,
    #28a7ed 100%
  );
  border-radius: 10px;
}

.container__gradient h1 {
  color: var(--color-5);
}
.container__gradient p {
  color: var(--grey-color-2);
}

.container__categories {
  display: flex;
  flex-wrap: wrap;
  background: var(--color-5);
  border-radius: 10px;
  padding: 24px;
  gap: 10px;
}

.container__categories p {
  color: var(--color-3);
}
