.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xl) 0;
  background-color: var(--color-secondary-50);
  min-height: 100vh;
  width: 100%;
}

.container__layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  gap: var(--space-lg);
  width: 100%;
  max-width: 1110px;
}
