@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito Sans", sans-serif;
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-background: #2b3844;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --nav-background: #fff;
  }
}
