.container {
    display: flex;
    flex-direction: column;
}

.container__layout {
    display: grid;
    grid-template-columns: 600px calc(100% - 600px);
    height: calc(100vh - 81px);
}

.container__content {
    background-color: #1c1c1c;
    padding: 20px;
    height: 100%;
}