.container {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 50px;
    background-color: #1c1c1c;
    border-bottom: 1px solid #000;
}

.container__links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links__label {
    color: #fff;
    padding-bottom: 3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.links__label--active {
    color: #fff;
    border-bottom-color: #1c48d9;
}